<div id="content-wrapper">

    <div class="container-fluid">

      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item "><a routerLink="/groups">Groups</a></li>
        <li class="breadcrumb-item ">{{group}}</li>
        <li class="breadcrumb-item "><a routerLink="/groups/{{group}}/projects">Projects</a></li>
        <li class="breadcrumb-item ">{{project}}</li>
        <li class="breadcrumb-item active">Sections</li>

      </ol>

      <!-- Icon Cards-->
      <div class="row">
        <div class="col-4 padding-sections" *ngFor="let section of sections">
          <a routerLink="/groups/{{group}}/projects/{{project}}/sections/{{section.slug}}/images/">
          <div class="card text-white bg-primary o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fas fa-puzzle-piece"></i>
              </div>
              <div class="mr-5">{{section.name}}</div>
            </div>
          </div>
          </a>
        </div>
       

      </div>

    </div>
    <!-- /.container-fluid -->


  </div>
  <!-- /.content-wrapper -->